hello <strong><%=session[:user_id]%></strong>.
<%= link_to "logout",:controller => "user", :action => "logout" %>
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
