Welkom <strong><%=session[:user_id]%></strong>.
<br />
<%= link_to 'labos', "../labos" %>
<%= link_to 'aanwezigheden', "../aanwezighedens" %>
<%= link_to 'studenten', "../students" %>
<br />
<h1>Lijst docenten</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= link_to 'Toon', user %></td>
    <td><%= link_to 'Aanpassen', edit_user_path(user) %></td>
    <td><%= link_to 'Verwijderen', user, :confirm => 'Bent u zeker?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nieuwe docent aanmaken', new_user_path %>
